* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
body {
  background-image: url(img/background.png);
  min-height: 100vh;
  position: relative;
}

.container {
  width: 90%;
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
}

.content h1 {
  font-size: 60px;
  font-weight: 100;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #232d60;
}

.content p {
  font-size: 20px;
  font-weight: 100;
  color: #6a7199;
}

.content {
  margin-left: 10%;
  margin-top: 10%;
}

.btn {
  display: inline-block;
  background: linear-gradient(45deg, #87adfe, #ff77cd);
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
  transition: all 0.3s ease;
}

.btn:hover {
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.3);
}

.FeaturePic {
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 130px;
}
